*{
    font-family: Oxanium !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    background-color: #20242D !important;
    box-shadow: 0 3px 10px rgba(1, 238, 254, 1) !important;
}

nav a {
    color:#F3F3F4 !important;
}

nav .navbar-toggler {
    background-color:#F3F3F4 !important;
}
.dropdown-menu a {
    color: #20242D !important;
}
#landing {
	background: 
		linear-gradient(
			rgba(32, 36, 45, .9),
			rgba(32, 36, 45, .9)
		),

		url("images/chris-ried-ieic5Tq8YMk-unsplash.jpg");
		background-repeat: no-repeat;
		background-size: cover;
        color:#F3F3F4 !important;
}


#landing img {
    border-radius: 50%;
    box-shadow: 0 6px 10px rgba(1, 238, 254, 1) !important;
}

#landing h1 {
    color: #01EEFE;
}


#contact #socials {
    background-color: #7E8287;
    color: #F3F3F4;
}

#contact #socials a img {
    height: 100px;
    margin: 5px;
}

#contact #contact-form {
    background-color: #468189 !important;
    color: #F3F3F4 !important;
    padding: 15px;
    box-sizing: border-box;
}


#projects {
    background: #F3F3F4;
}


#projects .card {
    box-shadow: 0 3px 10px rgba(1, 238, 254, 1) !important;
}

#projects .card-min-h {
    min-height: 51em;
}

#projects .card-min-h2 {
    min-height: 56em;
}


#tools {
    background-color: #20242D;
    color: #F3F3F4;
}

#tools img {
    max-width: 100%;
    height: auto;
    width: 8rem;
    background-color: #7E8287;
}

